
// Fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  font-family: Verdana, Geneva, sans-serif;
}
h1,h2,h3{
  font-family: 'Comfortaa', cursive;
  margin: 10px 0px;
}
nav{
  .pagination{
    flex-wrap: wrap;
    li{
      margin-top: 2px;
    }
  }
}
.pokemon-link{
  margin-top:5px;
  text-transform: capitalize;
}
#loading-overlay{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 100;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display:none;
  &.visible{
    display:block;
  }
  h3{
    color: #FFF;
    text-align:center;
    position:relative;
    top: 45vh;
  }
}
.modal-content{
  .modal-header{
    h2{
      text-transform: capitalize;
    }
  }
  .modal-body{
    #pokemonImg{
      position:absolute;
      top:0px;
      right:0px;
      width:200px;
      height:200px;
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
form{
  max-width:320px;
  float:right;
}
.clear-button{
  float: right;
  margin-right: 10px;
}
